<%- include("partials/header") %> 

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Find Me An Answer</h1>
            <p>Expert teachers from all over India at you Service!</p>
        </div>
        <p>
            <a class="btn btn-primary" href="http://www.google.com">Get to know our Teachers</a>
        </p>
    </header>
</div>

<%- include("partials/footer") %> 